html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 400px;
}

.banner {
  background-color: #2b3851;
  display: flex;

}

.robot {
  margin-right: 0;
  width: 320px;
  left: 50%;
  top: 50%;
  display: flex;
  align-items: center;
  position: relative;
}

.robot-body {
  width: 320px;
}

.robot-brain {
  width: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  left: 42%;
  bottom: 65%;
}

.robot-head-right {
  width: 125px;
  position: absolute;
  flex-wrap: wrap;
  flex-direction: column;
  left: 50%;
}

.robot-head-left {
  position: absolute;
  flex-wrap: wrap;
  flex-direction: column;
  right: 50%;
}

.robot-head-left,
.robot-head-right {
  bottom: 33%;
}

.robot-head-right:hover {
  position: relative;
  flex-wrap: wrap;
  flex-direction: column;
  left: 50%;
}

.robot-head-left:hover {
  position: relative;
  flex-wrap: wrap;
  flex-direction: column;
  right: 50%;
}
